.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#80b2df 0,#5c7fa1 100%) !important; /* override background image gradient w/ flat color */
}
.navbar-default a {
    color:white!important;
}
.navbar-default a:hover {
    color:grey!important;
}

li.active a{
    background-image: linear-gradient(to bottom,#c0c0c0 0,#7e7e7e 100%) !important;
}

.titlePage{
    background-image: linear-gradient(to top ,#7e7e7e 0,#b4b4b4 100%) !important;
    color:white;
}